* {
	box-sizing: border-box;
    font-family: basic-sans;
    color: black;
    font-size: 16px;
}

html, body {    
	margin: 0;
    background-color: #cb9824;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.nav {
    height: 5%;
    min-height: 30px;
    flex-direction: row;
    justify-content: space-between;
}